# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual environment
.venv/
env/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Python bytecode
*.pyc

# Streamlit cache
.streamlit/

# CSV output files
*.csv

# Ignore requirements-full.txt if generated
requirements-full.txt
